@media(max-width: 768px){
	.client-tabs .tabbable-line > .nav-tabs > li {
	    width: 50%;
	}
	.aum-title {
	    text-align: center;
	    color: #000000 !important;
	    font-weight: 700;
	    letter-spacing: initial;
	    margin: 30px 0px !important;
	    font-size: 28px;
	}
	.aum-tabs .company-details-3 {
	    text-align: center!important;
	}
	.fund-title h2, .rank h2 {
	    font-weight: 800;
	}
	.search-funds-tab-1 {
	    border-bottom: 0px solid #cccccc;
	}
	.aum-inner-tabs ul.nav.nav-tabs {
	    background: #ffffff;
	}
	.aum-inner-tabs .tabbable-line > .nav-tabs > li > a {
	    color: #ffffff !important;
    	background: #008afb;
	    border-radius: 20px;
	    padding: 10px 12px;
	    font-size: 100%;
	    text-transform: capitalize;																					
	}
	.aum-inner-tabs .tabbable-line > .nav-tabs > li > a.active.show {
	    border-bottom: 0px solid #008afb !important;
	    background: #a3a3a3 !important;
	}
	.aum-inner-tabs .tabbable-line > .nav-tabs > li {
	    padding: 5px 0px !important;
    	width: auto;
	}
	.aum-inner-tabs {
	    width: 95%;
	}
	.aum-inner-tabs .tabbable-line > .tab-content {
	    padding: 8px 20px;
	    background: #ffffff;
	    border: 2px solid #aaaaaa;
	}
	.aum-inner-tabs .search-funds-tab-outer {
	    box-shadow: none;
	}
	.aum-inner-tabs .search-funds-tab {
	    border-bottom: 0px solid #a9a4a4;
	}
	.piechart-img{
		width: 100%;
	}
}

@media(max-width: 540px){
	.aum-inner-tabs .tabbable-line > .nav-tabs > li > a {
	    font-size: 12px;
	}
	.aum-title {
	    margin: 20px 0px !important;
	    font-size: 20px;
	}
	.aum-inner-tabs .tabbable-line > .nav-tabs > li > a {
	    padding: 5px 12px;
	}
	.fund-title h2, .rank h2 {
	    font-weight: 800;
	    font-size: 25px;
	}
}

@media(max-width: 375px){
	.fund-title h2, .rank h2 {
	    font-size: 25px;
	}
}