#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 70% !important;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    padding: 0px;
    height: 30px;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none !important;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    /*border-left: solid 1px #ccc;*/
    border-radius: 0px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.search-section{
    padding: 1rem 0rem;
    background: #0a66bc;
}
.search-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: center;
  opacity: 1; /* Firefox */
}

.search-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
  text-align: center;
}

.search-field::-ms-input-placeholder { /* Microsoft Edge */
  text-align: center;
}
#custom-search-input i.fas.fa-search {
    font-size: 20px;
    vertical-align: text-top;
}
.filter{
    padding: 8px 0px;
    width: 10%;
    color: #ffffff;
}
.small-cases-btn{
    width: 20%;
    padding: 4px 0px;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 70% !important;
}
.small-cases-btn .input-group {
    background: #ffffff;
    border-radius: 10px;
    padding: 0px;
}
.small-cases-btn .btn-info{
    background: #ffffff;
    border-radius: 10px;
    color: #008afb;
    padding: 9px 4px 7px;
    font-size: 11px;
    width: 100%;
    letter-spacing: 0.5px;
}
.small-cases-btn span.input-group-btn {
    width: 100%;
}
#custom-search-input .input-group {
    padding: 0px;
}

.dashboard-tabs{
    padding: 0px;
}

/* Tabs panel */
.tabbable-panel {
  border:0px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #404040;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 0px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  /*border-bottom: 0px solid #f3565d;*/
  border-bottom: 1px solid #b8b8b8;
  position: relative;
}
.tabbable-line > .nav-tabs > li > a.active.show {
    border-bottom: 0px solid red !important;
    color: #2c66bc;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #404040;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  /*border-top: 1px solid #eee;*/
  /*padding: 15px 0;*/
  padding: 20px;
  background: #ebebeb;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
.dashboard-tabs .container-fluid, .dashboard-tabs .container-fluid .tabbable-panel{
  padding: 0px;
}
/*.dashboard-tabs .container-fluid .tabbable-line {
    padding: 0px 20px;
}*/
.dashboard-tabs .tabbable-line .nav-tabs {
    border: none;
    margin: 0px;
    padding: 20px;
    background: #f6f6f6;
}
.tabbable-line > .nav-tabs > li {
    width: 32.33%;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: 1px solid #b8b8b8 !important;
    border-radius: 10px;
    padding: 5px 0px;
}
.dashboard-tabs .tab-content .tab-pane {
    /*box-shadow: 0px 0px 5px 1px grey;
    border-radius: 10px;*/
    /*padding: 20px;
    background: #ffffff;*/
}
.search-funds-tab-outer {
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 1px grey;
    border-radius: 10px;
}
.search-funds-tab {
    background: #ffffff;
    padding: 20px 10px;
}
.search-funds-tab-1{
    background: #f6f6f6;
    padding: 40px 10px 20px;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #3e8afb;
    border-color: #3e8afb;
}
.search-funds-tab .company-logo {
    padding: 3px;
    border-radius: 50%;
    background-color: #fff;
    width: 20% !important;
    box-shadow: 2px 1px 0px 1px #999999;
    height: 20%;
    margin-right: 5px;
}
.search-funds-tab .company-details {
    padding: 3px;
    background-color: #fff;
    width: 75% !important;
    padding-left: 5%;
}
.search-funds-tab .company-logo img {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 50px 20px;
}
.fund-title h4 {
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 18px;
}
.company-details .company-details-1, .company-details .company-details-3{
    width: 45%;
}
.company-details .company-details-2{
    width: 10%;
}
.star, .divider {
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #f6ae00;
}
.divider .inner-divider {
    border-left: 2px solid #000000;
    display: unset;
}
.rank h4 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: unset;
    font-weight: 600;
}
.rank h4 span {
    font-weight: 700;
}
.sub-title-1{
    width: 60%;
}
.sub-title-2{
    width: 40%;
}
.fund-text{
    color: #008afb;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 800;
}
.fund-percentage {
    font-size: 80%;
    font-weight: 800;
    padding-left: 10px;
}
.funds-row{
    padding: 15px 0px;
    border-bottom: 1px solid #000000;
}
p.funds-details {
    line-height: 1.2;
    letter-spacing: 0px;
    font-size: 10px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 700;
}
.funds-row:last-child {
    border: 0px;
}
h5.fund-risk-text {
    text-transform: uppercase;
    font-size: 12px;
    color: #1bc000;
    font-weight: 800;
    padding-left: 10px;
}
.period-returns-risks {
    width: 25%;
    padding: 0px 10px;
}
.period-returns-risks h4, .fund-managers-profile h4 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #008afb;
    padding: 10px;
    border-radius: 40px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 100%;
    margin-bottom: 10px;
}
.period-returns-risks .year, .period-returns-risks .returns, .period-returns-risks .risks{
    list-style-type: none;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    line-height: 2;
    text-transform: uppercase;
    padding: 0px;
}
.fund-managers-profile{
    width: 70%;
    padding: 0px 10px;
}
.fund-managers-profile .year.d-flex {
    padding: 20px;
}
.fund-managers-profile img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.border-radius-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.border-radius-bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.share-row {
    background: #e5e5e5;
    padding: 10px;
}
.share-row .d-flex{
    margin: 0px;
    padding: 0px;
}
.share-row .d-flex i.fas {
    font-size: 25px;
    padding: 10px;
    color:#000000;
}
.share-row .d-flex i.fas:hover {
    color: #008afb;
}
.piechart-elements, .piechart-circle{
    width: 50%;
}
.piechart-circle img{
    width: 65%;
    margin: 0 auto;
    display: block;
}
.piechart-elements ul.elements li {
    text-transform: uppercase;
    color: #000000;
}
.piechart-elements ul.elements {
    list-style-type: none;
}
.piechart-elements span{
    width: 15px;
    height: 15px;
    display: -webkit-inline-box;
    margin-right: 10px;
}
.piechart-elements span.img-block1{
    background: red;
}
.piechart-elements span.img-block2{
    background: yellow;
}
.piechart-elements span.img-block3{
    background: green;
}
.piechart-elements span.img-block4{
    background: purple;
}
.piechart-elements span.img-block5{
    background: black;
}
.piechart-elements span.img-block6{
    background: white;
}
.piechart-elements span.img-block7{
    background: orange;
}
.piechart-elements span.img-block8{
    background: pink;
}
.piechart-elements span.img-block9{
    background: magenta;
}
.above-avg{
    color: #1bc000;
}
.average{
    color: #feb415;
}
.below-avg{
    color: red;
}

@media(max-width: 768px){
    .modal-dialog {
        width: 100%;
        margin: 0px;
        max-width: 95%;
    }
    .modal-title {
        margin-bottom: 0;
        float: left;
        text-align: left;
        position: absolute;
        left: 10px;
    }
}
@media(max-width: 600px){
    .filter{
        padding: 8px 0px;
        width: 10%;
        color: #ffffff;
    }
    .small-cases-btn{
        width: 30%;
        padding: 4px 0px;
    }
    #custom-search-input{
        width: 60% !important;
    }
    .tabbable-line > .nav-tabs > li > a {
        font-size: 14px;
        letter-spacing: 0px;
    }
}

@media(max-width:540px){
    .search-funds-tab .company-details {
        width: 100% !important;
    }
    .search-funds-tab .company-logo {
        box-shadow: none;
        height: auto;
        width: 50% !important;
        margin: 0 auto;
        display: block;
    }
    .search-funds-tab .company-logo img {
        width: 100%;
        padding: 0px 0px 15px 0px;
    }
    .d-flex.search-funds-tab {
        display: block !important;
    }
    .fund-managers-profile img {
        width: 60px;
        height: 60px;
        padding: 0px 5px;
    }
    .fund-managers-profile .year.d-flex {
        padding: 0px;
    }
    .modal-title {
        line-height: 0.5;
        font-size: 18px;
    }
}

@media(max-width: 480px){
    .period-returns-risks h4, .fund-managers-profile h4, .period-returns-risks .year, .period-returns-risks .returns, .period-returns-risks .risks {
        font-size: 10px;
    }
    #custom-search-input {
        line-height: 0.5;
        height: 35px;
    }
    #custom-search-input input {
        line-height: 0px;
        height: 30px;
    }
    .small-cases-btn {
        width: 30%;
        padding: 1px 0px;
    }
    .filter {
        padding: 5px 0px;
    }
}

@media(max-width: 430px){
    .period-returns-risks h4, .fund-managers-profile h4, .period-returns-risks .year, .period-returns-risks .returns, .period-returns-risks .risks {
        font-size: 10px;
    }
    .fund-text, .fund-percentage, h5.fund-risk-text, p.funds-details {
        font-size: 60%;
    }
    .search-funds-tab .company-details {
        padding: 0%;
    }
    .sub-title-1 {
        width: 45%;
    }
    .sub-title-2 {
        width: 55%;
    }
}

@media(max-width: 414px){
  .tabbable-line > .nav-tabs > li > a {
        font-size: 12px;
    }
    .period-returns-risks {
        width: 32%;
        padding: 0px 5px;
    }
    .fund-managers-profile {
        width: 100%;
    }
    .piechart-elements span {
        width: 10px;
        height: 10px;
    }
    .piechart-elements ul.elements {
        list-style-type: none;
        padding: 0px;
    }
    .piechart-elements ul.elements li {
        font-size: 10px;
    }
}

@media(max-width: 375px){
  .tabbable-line > .nav-tabs > li > a {
        font-size: 11px;
    }
    .period-returns-risks h4, .fund-managers-profile h4, .period-returns-risks .year, .period-returns-risks .returns, .period-returns-risks .risks {
        font-size: 10px;
    }
    .share-row .d-flex i.fas {
        font-size: 20px;
    }
}

@media(max-width: 360px){
  .tabbable-line > .nav-tabs > li > a {
        font-size: 10px;
    }
}

@media(max-width: 320px){
    .small-cases-btn .btn-info{
        font-size: 10px;
    }
}