@media(max-width: 768px){
	.relationship-tabs .search-funds-tab .company-details {
	    background-color: #002d52;
	}
	.fund-title h4, .rank h4 {
	    color: #ffffff;
	}
	.period-returns-risks {
	    width: 50%;
	}
	.period-returns-risks.relation-label h4 {
	    width: 60%;
	    margin: 0 auto;
	    text-align: left;
	    background: #ffffff;
	    padding: 10px;
	    color: #000000 !important;
	    border-radius: 40px;
	    color: #ffffff;
	    font-weight: 800;
	    text-transform: capitalize;
	    font-size: 20px;
	    padding: 15px;
	    margin-bottom: 0px;
	}
	.period-returns-risks.relation-label {
	    width: 65%;
	}
	.period-returns-risks.relation-details{
		width: 35%;
	}
	.relation-details h4.icons  {
	    width: 25%;
	    text-align: center;
	    background: #002d52;
	    color: #ffffff !important;
	    border-radius: 10px;
	    font-size: 25px;
	    font-weight: 500;
	    margin-bottom: 0px;
	}
	.no-border-r {
	    border-radius: 0px !important;
	}
	.search-funds-tab-1 {
	    border-bottom: 1px solid #cccccc;
	}
	.search-funds-tab-1.bg-blue {
	    padding: 5px 0px;
	    background: #008afb;
	}
	.period-returns-risks h4.mapped-date {
	    background: transparent;
	    color: #000000;
	    font-size: 18px;
	}
	.period-returns-risks h4.update-profile {
	    width: 80%;
	}
	.search-funds-tab-1 {
	    padding: 20px 10px 15px;
	}
	.company-details .company-details-3 {
	    text-align: right !important;
	}
	.aum-details h4, .aum-details .period-returns-risks.relation-label h4 {
	    background: #ffffff !important;
	    color: #7e7d7d !important;
	    font-weight: 700;
	    font-size: 22px !important;
	}
}

@media(max-width: 540px){
	.search-funds-tab-1 {
	    padding: 15px 10px 6px;
	}
	.period-returns-risks.relation-label, .period-returns-risks.relation-details {
	    width: 50%;
	}
	.period-returns-risks.relation-label h4 {
	    width: 100%;
	    font-size: 15px;
	    padding: 10px 0px;
	}
	.period-returns-risks h4.mapped-date {
	    font-size: 15px;
	}
	.relation-details h4.icons {
	    padding: 5px 0px;
	}
	.aum-details h4, .aum-details .period-returns-risks.relation-label h4 {
	    font-size: 18px !important;
	}
}

@media(max-width: 375px){
	.relationship-header h4 {
	    font-size: 15px;
	}
	.relation-details h4.icons {
	    width: 30%;
	    padding: 10px 0px;
	    font-size: 18px;
	}
	.period-returns-risks.relation-label h4, .period-returns-risks h4.mapped-date, .aum-details h4, 
	.aum-details .period-returns-risks.relation-label h4 {
	    font-size: 13px !important;
	}
}